<div id="wrapper"></div>
<div id="upperdiv">
        <div id="title">ACSPOS</div>
<div id="content"> <img src="assets\pexels-photo-1629299.jpeg"> <div id="textcontent"><b>Welcome To ACSPOS!</b><br><br> We offer complete Information Technology(IT) and Point of Sales(POS) solutions for clients system needs. Locally owned, ACSPOS was founded
    in 1995 in Lafayette Louisiana. <br>Our role is to provide Information Technology solutions for businesses and individuals who require them, and ensure that client needs are met. We've served various businesses such as restaurants, night clubs, and general stores.</div>
</div>
<div id="content"><img src="assets\asi-banner-lg.jpg"><img src="assets\SoftTouchLogo.jpg"><b>What We Can Offer Your Business</b><br><br> ACSPOS offers traning, setup, and maintence of both SoftTouch Pos, Resturant Manger Pro and other standard point of sales systems. 
    As a certified distributer of these systems, ACSPOS offers excellence in both consulting and service setup.  
</div>
<div id="content"><img src="assets\pexels-photo-442150.jpeg"><b>Business Services We Provide</b><br><br> ACSPOS provides IT services to clients, including hardware aquisition and assistance. ACSPOS will purchase hardware on request and ensure that the clients 
    buisness needs are met as cost effectivly as possible.
</div>
<div id="content"><img src="assets\Restaurant-Manager-1.jpg">ACSPOS currently supports the POS IT needs of 12 Lafayette, 10 Baton Rouge, 2 Alexandria, 1 Lake Charles, and 2 Hammond businesses. If you're interested in any of our services feel free to contact us at Laacspos@gmail.com 
</div>
</div>